<style>
    footer {
  background-color: #003366;
  padding: 0.5rem 0;
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}
</style>
<footer>
    <h4>Compañia de Luz @derechos reservados 2023</>
</footer>