<style>
    
header {
  width: 100%;
  background-color: #003366;
  text-align: center;
  padding: 1rem 0;
  color: white;
}

header img {
  width: min(400px, 90%);
  margin: 1rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

</style>
<header class="w-full">
    <h1>Compañia de luz</h1>
    <img src="https://preciogas.com/sites/preciogas.com/files/styles/article_hero/public/images/tarifas-luz-825x293.png.webp" alt="Compañia de luz">
</header>