<style>
nav {
  width: 100%;
  background-color: #6699cc;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
}
a {
  color: #fff;
  text-decoration: none;
}
</style>
<nav>
    <a href="/">Acerca de</a>
    <a href="/pago">Pago de Recibo</a>
    <a href="/contacto">Contacto</a>
</nav>