<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=titulo%></title>
  </head>
  <style>
   /* Estilo del cuerpo y HTML */
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



/* Estilo del contenido principal */
main {
  background-color: #f2f2f2;
  padding: 1rem;
  margin: 5px;
}

/* Estilo del contenido principal */
.main-content{
  width: min(1000px, 90%);
  margin: 2rem auto;
  padding-bottom: 2rem;
  margin-bottom: 10px;
}



  </style>
  <body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <main>
        <div class="main-content">
            <h2>Acerca de nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem libero natus nostrum quae nemo, corrupti voluptate labore sed repudiandae officia nulla necessitatibus ex molestias perferendis ducimus debitis voluptatibus consequatur enim?</p>
            
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
