<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <title><%=titulo%></title>
  </head>
  <style>
   /* Estilo del cuerpo y HTML */
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilo del contenido principal */
main {
  background-color: #f2f2f2;
  padding: 1rem;
}

/* Estilo del contenido principal */
.main-content {
  background-color: #f2f2f2;
  width: min(1000px, 90%);
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

/* Estilo del contenedor de entrada */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
}



.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.buttons-container button {
  width: 30%;
  padding: 0.4rem 0;
}
table {
  width: min(1000px, 95%);
  margin: 2rem auto;
  background-color: #f2f2f2

}
input,
select {
  width: 50%;
  padding: 0.5rem 0.2rem;
}

  </style>
  <body>
    <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
    <main>
      <% if(!isPost){ %>
      <form class="main-content" action="/pago" method="post">
        <div class="input-container">
          <label for="numero">Numero Recibo</label>
          <input id="numero" type="number" name="numero" required/>
        </div>
        <div class="input-container">
          <label for="nombre">Nombre</label>
          <input id="nombre" type="text" name="nombre" required/>
        </div>
        <div class="input-container">
          <label for="domicilio">Domicilio</label>
          <input id="domicilio" type="text" name="domicilio" required/>
        </div>
        <div class="input-container">
          <label for="servicio">Tipo de Servicio</label>
          <select id="servicio" name="servicio" required>
            <option value="0">Domestico</option>
            <option value="1">Comercial</option>
            <option value="2">Industrial</option>
          </select>
        </div>
        <div class="input-container">
          <label for="kwConsumidos">Kilowatts Consumidos</label>
          <input id="kwConsumidos" type="number" name="kwConsumidos" required/>
        </div>
        <div class="buttons-container">
          <button class="btn btn-primary" type="submit">
            Enviar Informacion
          </button>
          <a href="/pago" class="btn btn-danger">Limpiar</a>
        </div>
      </form>

      <%} else{ %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Kilowatts Consumidos</th>
            <th scope="col">Costo por Kiowatts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= numero %></td>
            <td><%= nombre %></td>
            <td><%= servicio %></td>
            <td><%= kwConsumidos %></td>
            <td><%= precioKw %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Subtotal:</td>
            <td><%= subtotal %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Impuesto:</td>
            <td><%= impuesto %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Descuento:</td>
            <td><%= descuento %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total a pagar:</td>
            <td><%= total %></td>
          </tr>
        </tbody>
      </table>
      <% } %>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
